{{- partial "header.html" . }} <!-- Get site-wide header -->

<!-- $scope affects which pages will be listed.
     $scope of .Site lists *all* pages,
     $scope of . lists pages related to list page (e.g. certain tag) -->
{{- $scope := . }} 

{{- if .IsHome }} <!-- For the homepage, account for site params and index file. -->
{{- $scope = .Site }} <!-- Use site scope. This lists all pages on homepage. -->
	{{- if (in .Site.Home .Site.Title) }} <!-- If there is no index page (_index.md, _index.html etc), .Title will be set.-->
		<!-- If so, display the information we have. -->

		{{- if (or (or .Title  (eq .Site.Params.hidetitle false)) .Site.Params.subtitle) }} <!-- If anything here is displayed -->
			<header class="page-header">

			{{- if (and .Title (eq .Site.Params.showtitle true)) }}<h1>{{ .Title }}</h1>{{ end }} <!-- Show title if set and not disabled. -->
			{{- if (and .Site.Params.subtitle (ne .Site.Params.hidesubtitle true)) }}<p>{{ .Site.Params.subtitle }}</p>{{ end }} <!-- Show subtitle if set and not disabled. -->

			</header>
		{{ end }}

	{{- else }}
		<!-- Else, display the index file. -->
		<header class="page-header">

		<!-- jc: I didn't find a better way on how I would get the path, other than trimming. :/ -->
		{{ (readFile (strings.TrimPrefix "Page(" (strings.TrimSuffix ")" .Site.Home))) | markdownify }}

		</header>
	{{- end }}
	{{- else }} <!-- For other list pages, always show title(s) if they exist. -->
	{{- if (or .Title .Params.subtitle) }}
		<header class="page-header">
			{{- if .Title }}
				<h1>{{ .Title }}</h1>
			{{ end }}
			{{- if .Params.subtitle }}
				<p>{{ .Params.subtitle }}</p>
			{{- end }}
		</header>
	{{- end }}
{{- end }}

<!-- Iterate through all non-list pages. -->
{{- $paginator := .Paginate (where (where $scope.RegularPages ".Params.type" "!=" "page") ".Params.excludefromlisting" "!=" true) }}
{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}
{{- if (and (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) ( ne .Site.Params.nolatestspecial true) )}} <!-- If is first page and user doesn't prohibit, label it as the first page (different styling). -->
{{- $class = "first-entry" }}
{{- else if .Data.Term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}
<article class="{{ $class }}">
	<header class="entry-header">
		<h2>{{ .Title }}</h2>
	</header>
	<section class="entry-content">
	 <p>{{ .Summary | plainify | htmlUnescape }}...</p>
	</section>
	<footer class="entry-footer">
		<time>{{ .Date.Format "January 2, 2006" }}</time>
	</footer>
	<a class="entry-link" aria-label="link to {{ .Title }} post" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }} <!-- If there are more pages than the limit, show a next/previous page button -->
<footer class="page-footer">
	<nav class="pagination">
		{{- if $paginator.HasPrev }}
		<a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
		{{- end }}
		{{- if $paginator.HasNext }}
		<a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
		{{- end }}
	</nav>
</footer>
{{- end }}

{{- partial "footer.html" . }} <!-- include site-wide footer -->
