{{- partial "header.html" . }}

<article class="post-single">
	<header class="post-header">
		<h1 class="post-title">{{ .Title }}</h1>
		<div class="post-meta">
			{{- if or .Params.Author .Site.Author.name }}
			{{- .Params.Author | default .Site.Author.name }} · {{ end }}
			{{- .Date.Format "January 2, 2006" -}}
		</div>
	</header>
	<div class="post-content">{{ .Content }}</div>
	{{- if .Params.tags }}
	<footer class="post-footer">
		<ul class="post-tags">
			{{- range .Params.tags }}
			{{- $href := print (absURL "tags/") (urlize .) }}
			<li><a href="{{ $href }}">{{ . }}</a></li>
			{{- end }}
		</ul>
	</footer>
	{{- end }}
	<!-- Comments area start -->
	{{- if not (eq .Params.comments false) }}
	{{- if .Site.DisqusShortname }}
	<div id="disqus_thread"></div>
	<script>
		var disqus_shortname = '{{ .Site.DisqusShortname }}';
		(function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>
		Please enable JavaScript to view the
		<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
	<!-- Comments area end -->
	{{- end }}
	{{- end }}
</article>

{{- partial "footer.html" . }}
