</main>
<footer class="footer">
	<span>
		{{- if eq .Site.Copyright "" }}
		&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		{{ else if eq .Site.Copyright "CC BY 4.0" }}
		<a rel="license" href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>
		{{ else }}
		{{ .Site.Copyright | markdownify }}
		{{ end }}
	</span>
	<span>&middot;</span>
	<span>Powered by <a href="https://gohugo.io/" rel="noopener" target="_blank">Hugo️️</a>️ and <a href="https://gitlab.com/hugo-plains/hugo-plains" rel="noopener" target="_blank">Plains</a></span>
</footer>
<script src="{{ "highlight.min.js" | absURL }}"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>
</body>
</html>
