<!DOCTYPE html>
<html lang="{{ .Language }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Title -->
		<title>{{ if (and .Title (not .IsHome) ) }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
		<!-- Meta -->
		{{- if eq .Kind "page" }}
		<meta name="description" content="{{ .Summary }}">
		<meta name="author" content="{{ .Params.Author | default .Site.Author.name }}">
		{{- else }}
		<meta name="description" content="{{ .Site.Params.description }}">
		<meta name="author" content="{{ .Site.Author.name }}">
		{{- end }}
		<meta name="generator" content="hugo-plains https://gitlab.com/hugo-plains/hugo-plains">
		<!-- Styles -->
		<link href="{{ "an-old-hope.min.css" | absURL }}" rel="stylesheet">
		<link href="{{ "style.css" | absURL }}" rel="stylesheet">
		<link href="{{ "custom.css" | absURL }}" rel="stylesheet">
		<!-- Favicons -->
		<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">
		<link rel="icon" href="{{ "favicon.ico" | absURL }}">
		<!-- Generator -->
		{{- hugo.Generator }}
		<!-- RSS -->
		{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
		<!-- Misc -->
		{{- if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
		{{- template "_internal/google_analytics_async.html" . }}
		{{- template "_internal/opengraph.html" . }}
		{{- end }}
		{{ if eq (.Param "colorscheme") "ipgeolocation" }}
		<!-- Script -->
		<script>
			function setTheme() {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					document.body.classList.add('dark');
					return;
				}

				const time = new Date();
				const prev = localStorage.getItem('date');
				const date = String(time.getMonth() + 1) + '.' + String(time.getDate());

				const now = time.getTime();
				let sunrise;
				let sunset;

				function setBodyClass() {
					if (now > sunrise && now < sunset) return;
					document.body.classList.add('dark');
				}

				if (date !== prev) {
					fetch('https://api.ipgeolocation.io/astronomy?apiKey=5ed37d85103e4defa5df4c5298ed5215')
						.then((res) => res.json())
						.then((data) => {
							sunrise = data.sunrise.split(':').map(Number);
							sunset = data.sunset.split(':').map(Number);
						})
						.catch(() => {
							sunrise = [7, 0];
							sunset = [19, 0];
						})
						.finally(() => {
							sunrise = time.setHours(sunrise[0], sunrise[1], 0);
							sunset = time.setHours(sunset[0], sunset[1], 0);
							setBodyClass();
							localStorage.setItem('sunrise', sunrise);
							localStorage.setItem('sunset', sunset);
						});
					localStorage.setItem('date', date);
				} else {
					sunrise = Number(localStorage.getItem('sunrise'));
					sunset = Number(localStorage.getItem('sunset'));
					setBodyClass();
				}
			}
		</script>
		{{ else if (or (eq (.Param "colorscheme") "localtime") (not (.Param "colorscheme"))) }}
		<script>
			function setTheme() {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					document.body.classList.add('dark');
					return;
				}
				
				let date = new Date();
				let time = date.getTime();
				let sunrise = date.setHours(7, 00); // 07:00
				let sunset = date.setHours(20, 00); // 20:00

				if (time < sunrise || time > sunset)
					document.body.classList.add('dark');
			}
		</script>
		{{ end }}
	</head>
	<body class="{{ if eq .Site.Params.colorscheme "dark" }}dark {{ end }}{{ if eq .Kind `page` }}single{{ else }}list{{ if .IsHome }} home{{ end }}{{ end }}">
		{{ if (or (eq (.Param "colorscheme") "ipgeolocation") (eq (.Param "colorscheme") "localtime") (not (.Param "colorscheme"))) }}
		<script>
			setTheme();
			console.log("This site was made using Hugo and Plains. https://gohugo.io https://gitlab.com/hugo-plains/hugo-plains");
		</script>
		{{ end }}
		<header class="header">
			<nav class="nav">
				{{- if .IsHome }}
				<h1 class="logo"><a href="{{ "" | absURL }}">{{ .Site.Title }}</a></h1>
				{{- else }}
				<p class="logo"><a href="{{ "" | absURL }}">{{ .Site.Title }}</a></p>
				{{- end }}
				{{- if .Site.Menus.main }}
				<ul class="menu">
					{{- range .Site.Menus.main }}
					<li>
						<a href="{{ .URL }}">{{ .Name }}</a>
					</li>
					{{- end }}
				</ul>
				{{- end }}
			</nav>
		</header>
		<main class="main">
